In [3]:
i = 10
if (i>15):
    print("10 is less than 15")
    print("i am in if block")
else:
    print("10 is greater than 15")

10 is greater than 15

In [5]:
i = 10
if (i == 10):
    if (i < 15):
        print("i is smaller than 15")
    if (i < 12):
        print("i is smaller than 12")
    else:
        print("i is greter than 15")

i is smaller than 15
i is smaller than 12

In [6]:
i = 20
if (i == 10):
    print("i is 10")
elif(i == 15):
    print("i is 15")
elif(i == 20):
    print("i is 20")
else:
    print("i is not there")

i is 20

In [11]:
import math as m
print("the e**4 value is :", end="")
print(m.exp(4))

print("the value of log 2 with base 3 is :", end="")
print(m.log(2,4))

the e**4 value is :54.598150033144236
the value of log 2 with base 3 is :0.5

In [1]:
l = input("enter the length ")
b = input("enter the breadth ")
if (l == b ):
    print("it is square")
else:
    print("it is not square")

enter the length 5
enter the breadth 6
it is not square

In [5]:
age = int(range(7,101))
if (age>18):
    print("you can drive")
elif (age<18):
    print("you can not drive ")
else:
    print("we can't deciced ")

TypeError: int() argument must be a string, a bytes-like object or a number, not 'range'

In [18]:
num1 = int(input("enter the first number "))
num2 = int(input("enter the second number "))
num3 = input(' +,-,*,/,%,//,**')

if (num1==5 and num2==3 and num3== '+'):
    print("10")
elif (num1==10 and num2==5 and num3=='-'):
    print("25")
elif (num1==5 and num2==4 and num3=='*'):
    print("30")
elif (num1==6 and num2==3 and num3=='/'):
    print("6")
elif (num3=='+'):
    print( num1+num2 )

enter the first number 56
enter the second number 2
 +,-,*,/,%,//,**+
58

In [21]:
x = int(input("year of service "))
if (x>5):
    print("he get bouns of 5%")
else:
    print("he not get bouns")

year of service 2
he not get bouns

In [28]:
marks = int(input("enter the marks "))
if (marks>=80):
    print("A")
elif (80<=marks>=60):
    print("B")
elif (60<=marks>=50):
    print("C")
elif (50<=marks>=45):
    print("D")
elif (45<=marks>=25):
    print("E")
elif (marks<=25):
    print("F")

enter the marks 25
F

In [33]:
x = int(input("enter the classes attend "))
y = ((x*270)/100)
if (y>=75):
    print(" he sit in exam ")
else:
    print("he cannot sit in the exam")

enter the classes attend 12
he cannot sit in the exam

In [1]:
D = {1:"rakhi",2:"chocolate",3:"shashwat",4:"saloni"}
print(D)

{1: 'rakhi', 2: 'chocolate', 3: 'shashwat', 4: 'saloni'}

In [2]:
c = 0 
while (c < 3):     
    print("rakhi who are you") 
    c = c + 1

SyntaxError: invalid non-printable character U+202F (<ipython-input-2-be10c1f4afca>, line 2)

In [11]:
count = 0
while (count < 5): 
    count += 1; 
    print("Hello rakhi")

Hello rakhi
Hello rakhi
Hello rakhi
Hello rakhi
Hello rakhi

In [3]:
n = 4
for i in range(-4,n):
    print(i)

-4
-3
-2
-1
0
1
2
3

In [8]:
v = 0
while v < 3:
    print("hello i am rakhi")
    v = v + 1
else:
    print(" shashwat ")

hello i am rakhi
hello i am rakhi
hello i am rakhi
 shashwat

In [10]:
l = ["apple", "banana", "cherry", "apple", "cherry"]
s = {"apple", "banana", "cherry", "apple", "cherry"}
print(type(s))

<class 'set'>

In [12]:
student_name = 'komal'

marks = {'kanika': 90, 'shashwat': 55, 'komal': 77}

for student in marks:
    if student == student_name:
        print(marks[student])
        break
else:
    print('No entry with that name found.')

77

In [18]:
for i in range(20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [21]:
for num in range(-2,-30,-3):
    print(num, end=",")

-2,-5,-8,-11,-14,-17,-20,-23,-26,-29,

In [23]:
mun = int(input("enter the muner of rows :"))
for i in range(mun):
    for j in range(mun):
        print("$", end=" ")
    print()

enter the muner of rows :5
$ $ $ $ $
$ $ $ $ $
$ $ $ $ $
$ $ $ $ $
$ $ $ $ $

In [30]:
n=4;
for i in range(n):
    for j in range(i):
        print (' * ', end="")
    print('')

for i in range(n,0,-1):
    for j in range(i):
        print(' * ', end="")
    print('')

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *
 *  *
 *

In [2]:
for i in range(0,51):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [1]:
m = 3
for i in range(m):
    print(' @ ',end="")
    
    for j in range(m):
        print('*')

 @ *
*
*
 @ *
*
*
 @ *
*
*

In [7]:
n= 5
for i in range(0,n):
    for j in range(0,n,-1):
        print('* ',end="")
    print()

In [11]:
#ques1
m = [2.5,6.5,1.2,5.5,2.3,4.5]
max(m)
min(m)

1.2

In [13]:
#ques4
for f in range(1,51):
    if (f%3==0):
        print("fizz")

    elif (f%5==0):
        print("buzz")
    elif (f%3==0 and f%5==0):
        print("fizzbuzz")
    print(f)

1
2
fizz
3
4
buzz
5
fizz
6
7
8
fizz
9
buzz
10
11
fizz
12
13
14
fizz
15
16
17
fizz
18
19
buzz
20
fizz
21
22
23
fizz
24
buzz
25
26
fizz
27
28
29
fizz
30
31
32
fizz
33
34
buzz
35
fizz
36
37
38
fizz
39
buzz
40
41
fizz
42
43
44
fizz
45
46
47
fizz
48
49
buzz
50

In [21]:
#ques5
for n in range(100,401):
    if (n%2==0):
        print("even",end=" ")
    print(n)

even 100
101
even 102
103
even 104
105
even 106
107
even 108
109
even 110
111
even 112
113
even 114
115
even 116
117
even 118
119
even 120
121
even 122
123
even 124
125
even 126
127
even 128
129
even 130
131
even 132
133
even 134
135
even 136
137
even 138
139
even 140
141
even 142
143
even 144
145
even 146
147
even 148
149
even 150
151
even 152
153
even 154
155
even 156
157
even 158
159
even 160
161
even 162
163
even 164
165
even 166
167
even 168
169
even 170
171
even 172
173
even 174
175
even 176
177
even 178
179
even 180
181
even 182
183
even 184
185
even 186
187
even 188
189
even 190
191
even 192
193
even 194
195
even 196
197
even 198
199
even 200
201
even 202
203
even 204
205
even 206
207
even 208
209
even 210
211
even 212
213
even 214
215
even 216
217
even 218
219
even 220
221
even 222
223
even 224
225
even 226
227
even 228
229
even 230
231
even 232
233
even 234
235
even 236
237
even 238
239
even 240
241
even 242
243
even 244
245
even 246
247
even 248
249
even 250
251
even 252
253
even 254
255
even 256
257
even 258
259
even 260
261
even 262
263
even 264
265
even 266
267
even 268
269
even 270
271
even 272
273
even 274
275
even 276
277
even 278
279
even 280
281
even 282
283
even 284
285
even 286
287
even 288
289
even 290
291
even 292
293
even 294
295
even 296
297
even 298
299
even 300
301
even 302
303
even 304
305
even 306
307
even 308
309
even 310
311
even 312
313
even 314
315
even 316
317
even 318
319
even 320
321
even 322
323
even 324
325
even 326
327
even 328
329
even 330
331
even 332
333
even 334
335
even 336
337
even 338
339
even 340
341
even 342
343
even 344
345
even 346
347
even 348
349
even 350
351
even 352
353
even 354
355
even 356
357
even 358
359
even 360
361
even 362
363
even 364
365
even 366
367
even 368
369
even 370
371
even 372
373
even 374
375
even 376
377
even 378
379
even 380
381
even 382
383
even 384
385
even 386
387
even 388
389
even 390
391
even 392
393
even 394
395
even 396
397
even 398
399
even 400

In [24]:
for i in range(7):
    for j in range(3):
        print("*",end="")
    print("* ",end="")

**** **** **** **** **** **** ****

In [1]:
print("""
     ***
    *   *
    *   * 
    *****
    *   *
    *   *
    *   *
    """)

     ***
    *   *
    *   *
    *****
    *   *
    *   *
    *   *